$mobile: "only screen and (max-width: 768px)"
$tablet: "only screen and(min-width: 768px)"
$desktop: "only screen and(min-width: 1024px)"
$wide: "only screen and(min-width: 1216px)"
$fullhd: "only screen and(min-width: 1408px)"

$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

@each $column in $columns
    .have-#{$column}
        grid-template: 1fr / repeat(#{$column, 1fr})

.container
    margin: 0 auto
    height: auto
    position: relative
    &.is-fluid
        max-width: none !important
        margin: 0 0.75rem

.is-grid
    display: grid
    grid-gap: 0.75rem

@media #{$desktop}
    .container
        max-width: 960px

@media #{$wide}
    .container
        max-width: 1152px

@media #{$fullhd}
    .container
        max-width: 1344px

@media #{$mobile}
    .container
        margin: 0 0.75rem
    @each $column in $columns
        .have-#{$column}
            grid-template: 1fr / 1fr
